@page
@model NorthwindWeb.Pages.CustomersModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="row">
    <h1 class="display-2">Customers</h1>
    <table class="table">
        <thead class="thead-inverse">
            <tr><th>Customer Name</th><th>Country</th></tr>
        </thead>
        <tbody>
            @foreach (SortedList<string,string> customer in Model.Customers) {

                Dictionary<string,string> dictCustDetails =
                    new Dictionary<string, string> { { "CustomerID", @customer["CustomerID"] } };

                <tr>
                    @* <td>@customer["CustomerName"]</td> *@
                    <td>
                        <a asp-page="./customerdetails" asp-all-route-data="dictCustDetails">@customer["CustomerName"]</a>
                    </td>
                    <td>@customer["Country"]</td>
                    @* <td>@customer["CustomerID"]</td> *@
                </tr>
            }
        </tbody>
    </table>
</div>