@page
@model NorthwindWeb.Pages.CustomerDetailsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Packt.Shared



<div class="row">
    <h1 class="display-2">@Model.CustomerDetails.CompanyName</h1>
</div>
<div class="row">
    <div>
        <p><b>Contact:</b> @Model.CustomerDetails.ContactName</p>
        <p><b>Phone:</b> @Model.CustomerDetails.Phone</p>
        <p><b>Address:</b> <br> @Model.CustomerDetails.Address, <br>
        @Model.CustomerDetails.City, @Model.CustomerDetails.Region @Model.CustomerDetails.PostalCode 
        <br>@Model.CustomerDetails.Country
        </p>
    </div>
</div>
<div class="row">
    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th>Order ID</th>
                <th>Order Date</th>
                <th>Shipped Date</th>
                <th>Recipient</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Order customerOrder in Model.CustomerOrders) {
                <tr>
                    <td>@customerOrder.OrderID</td>
                    <td>@customerOrder.OrderDate</td>
                    <td>@customerOrder.ShippedDate</td>
                    <td>@customerOrder.ShipName</td>
                </tr>
            }
        </tbody>
    </table>
</div>