@* @model NorthwindMvc.Models.Thing *@ // commented to show Model validation example
@model NorthwindMvc.Models.HomeModelBindingViewModel // use the view model class
@{
    ViewData["Title"] = "Model Binding Demo";
}

<h1>@ViewData["Title"]</h1>
<div>
    Enter values for your thing in the following form:
</div>
@* <form method="POST" action="/home/modelbinding?id=3"> *@
<form method="POST" action="/home/modelbinding/2?id=3"> @* The '/2' id as route parameter overrides the '?id=3' query parameter *@
    @* Adding the line below adds a form parameter for submitting ID, which overrides the route parameter *@
    <input name="id" value="1" />
    <input name="color" value="Red" />
    <input type="submit" />
</form>
@if (Model != null) {
    <h2>Submitted Thing</h2>
    <hr />
    <div>
        <dl class="dl-horizontal">
            @* <dt>Model.ID</dt>
            <dd>@Model.ID</dd>
            <dt>Model.Color</dt>
            <dd>@Model.Color</dd> *@
            <dt>Model.Thing.ID</dt>
            <dd>@Model.Thing.ID</dd>
            <dt>Model.Thing.Color</dt>
            <dd>@Model.Thing.Color</dd>
        </dl>
    </div>
    @* For Model Validation: show error if there are any *@
    @if (Model.HasErrors) {
        <div>
            @foreach (string errorMessage in Model.ValidationErrors) {
                <div class="alert alert-danger" role="alert">@errorMessage</div>
            }
        </div>
    }
}